{% extends 'layout.html' %} {% block body %}
<div id="showcase">
    <header id="showcase1">
        <h1 id=>{{user.username}}</h1>
        <p>Welcome to your personal <b>Home Page</b></p>
        <b><hr></b>
    </header>
    <main id="showcase2">
        <article id="showcase3">
            <p>Here you will find various items to satisfy your needs.</p>
            <p>To look at the full product list, please click on Browse Products</p>
            <p>To view your cart, please click on Cart</p>
            <p>If your an admin you will also have selections to add inventory and view and edit said inventory.</p>
            <p>When you are finished, please logout</p>
        </article>
    </main>
</div>
{% endblock %}